<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinwei.smallvideoui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fazuo_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xinwei.smallvideo.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.activity.HomePageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.country.CountryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.activity.PublishedWorkInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.activity.SettingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.xinwei.smallvideo.activity.PublishMyWorkActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>